header {
    background-color: rgba(128, 247, 247, 0.486);
   padding: 20px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    color: rgba(5, 5, 5, 0.966);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover{
    color:   aqua;
    text-decoration:underline;
}

nav a:active{
    font-size: 30px;
    color: brown;
}

.titulo-principal{
    padding-left: 30px;
}

#banner{
    width:100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:blue;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}
